//variables för färger
$wrapper-color: rgb(38, 4, 4);
$active-color: brown;
$body-background-color:rgb(74, 72, 72);
$icon-color: rgb(173, 15, 173);

//liten css reset
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $body-background-color;
    color: white;
    font-family: sans-serif;
    font-size: 1.3rem;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $wrapper-color;
    @media screen and (min-width: 768px){
        justify-content: flex-start;
    }
    .main-navigation {
        display: flex;
        justify-content: center;
        flex: 0 0 80%;
        @media screen and (min-width: 768px){
            flex: 0 0 50%
        }
        .navigation-list{
            list-style: none;
            display: flex;
            flex: 0 0 100%;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 25%;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1 1 auto;
                    height: 100%;
                    color: $icon-color;
                    text-decoration: none;
                    background-color: transparent;
                    &.active{
                        background-color: $active-color;
                        color: white;
                        @media screen and (min-width: 768px){
                            background-color: transparent;
                                border-bottom: solid 3px $icon-color;
                            }
                        }
                    }
                }
                .link-text{
                    display: none;
                    @media screen and (min-width: 768px){
                        display: flex;
                        color: $icon-color;
                    }
                }
            }
        } 
    .logo{
        display: none;
        justify-content: center;
        align-items: center;
        color: $icon-color;
        @media screen and (min-width: 768px){
            display: flex;
            flex: 0 0 10%;
        }
        .logo-icon{
            display: none;
            @media screen and (min-width: 768px){
                display: flex;
            }
        }
    }
    .profile-image{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: purple;
        flex: 0 0 20%;
        @media screen and (min-width: 768px){
            background-color: transparent;
            margin-left: auto;
        }
        @media screen and (min-width: 1200px){
            background-color: transparent;
            flex: 0 0 10%;
        }
        .user_face_img{
            display: block;
            height: 50px;
            width: 50px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }
    // searchbar, en wrapper med input 
    // och iconen som jag positionerad med hjälp av position absolute
    .search-wrapper{
        justify-content: center;
        align-items: center;
        position: relative;
        display: none;
        width: 15rem;
        @media screen and (min-width: 1200px){
            display: flex;
            margin-left: auto;
        }
        .search-icon{
            color: gray;
            display: block;
            position: absolute;
            top: 1.4rem;
            left: 0.8rem;
        }
        input{
            height: 60%;
            font-size: 1.5rem;
            text-align: center;
            border-radius: 2rem;
            background-color: lightcoral;
            color: white;
        }
}
}


//google font styles
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    font-size: 2.5rem;
    @media screen and (min-width: 768px){
        display: none;
    }
}

