* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(74, 72, 72);
  color: white;
  font-family: sans-serif;
  font-size: 1.3rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  max-width: 1366px;
  margin: 0 auto;
  background-color: rgb(38, 4, 4);
}
@media screen and (min-width: 768px) {
  .wrapper {
    justify-content: flex-start;
  }
}
.wrapper .main-navigation {
  display: flex;
  justify-content: center;
  flex: 0 0 80%;
}
@media screen and (min-width: 768px) {
  .wrapper .main-navigation {
    flex: 0 0 50%;
  }
}
.wrapper .main-navigation .navigation-list {
  list-style: none;
  display: flex;
  flex: 0 0 100%;
}
.wrapper .main-navigation .navigation-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 25%;
}
.wrapper .main-navigation .navigation-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
  color: rgb(173, 15, 173);
  text-decoration: none;
  background-color: transparent;
}
.wrapper .main-navigation .navigation-list li a.active {
  background-color: brown;
  color: white;
}
@media screen and (min-width: 768px) {
  .wrapper .main-navigation .navigation-list li a.active {
    background-color: transparent;
    border-bottom: solid 3px rgb(173, 15, 173);
  }
}
.wrapper .main-navigation .navigation-list .link-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapper .main-navigation .navigation-list .link-text {
    display: flex;
    color: rgb(173, 15, 173);
  }
}
.wrapper .logo {
  display: none;
  justify-content: center;
  align-items: center;
  color: rgb(173, 15, 173);
}
@media screen and (min-width: 768px) {
  .wrapper .logo {
    display: flex;
    flex: 0 0 10%;
  }
}
.wrapper .logo .logo-icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .wrapper .logo .logo-icon {
    display: flex;
  }
}
.wrapper .profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  flex: 0 0 20%;
}
@media screen and (min-width: 768px) {
  .wrapper .profile-image {
    background-color: transparent;
    margin-left: auto;
  }
}
@media screen and (min-width: 1366px) {
  .wrapper .profile-image {
    background-color: transparent;
    flex: 0 0 10%;
  }
}
.wrapper .profile-image .user_face_img {
  display: block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
}
.wrapper .search-wrapper {
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
  width: 15rem;
}
@media screen and (min-width: 1366px) {
  .wrapper .search-wrapper {
    display: flex;
    margin-left: auto;
  }
}
.wrapper .search-wrapper .search-icon {
  color: grey;
  display: block;
  position: absolute;
  top: 1.4rem;
  left: 0.8rem;
}
.wrapper .search-wrapper input {
  height: 60%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 2rem;
  background-color: rgb(224, 139, 139);
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 40;
  font-size: 2.5rem;
}
@media screen and (min-width: 768px) {
  .material-symbols-outlined {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */