*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  background-color: rgb(74, 72, 72);
  font-family: sans-serif;
}

a {
  list-style: none;
  all: unset;
  cursor: pointer;
}

header {
  background-color: rgb(38, 4, 4);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.wrapper .main-nav {
  flex: 0 0 80%;
  display: flex;
}
@media (min-width: 768px) {
  .wrapper .main-nav {
    flex: 0 0 60%;
  }
}
.wrapper .main-nav .nav-list {
  display: flex;
  list-style: none;
  flex: 1 1 auto;
}
.wrapper .main-nav .nav-list .nav-item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.wrapper .main-nav .nav-list .nav-item.active {
  background-color: darkblue;
}
@media (min-width: 768px) {
  .wrapper .main-nav .nav-list .nav-item.active {
    border-bottom-color: darkred;
    background-color: transparent;
  }
}
.wrapper .main-nav .nav-list .nav-item.logo {
  display: none;
}
@media (min-width: 768px) {
  .wrapper .main-nav .nav-list .nav-item.logo {
    display: flex;
  }
}
.wrapper .main-nav .nav-list .nav-item .nav-link {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding: 1.2rem 0;
}
.wrapper .main-nav .nav-list .nav-item .nav-link.logo {
  justify-content: flex-start;
}
.wrapper .main-nav .nav-list .nav-item .nav-link .link-text {
  display: none;
}
@media (min-width: 768px) {
  .wrapper .main-nav .nav-list .nav-item .nav-link .link-text {
    display: flex;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: purple;
  }
}

.search-and-profile {
  background-color: purple;
  display: flex;
  justify-content: center;
  flex: 0 0 20%;
}
@media (min-width: 768px) {
  .search-and-profile {
    background-color: transparent;
    flex: 0 1 auto;
  }
}
.search-and-profile .profile-img-container {
  display: flex;
  align-items: center;
}
.search-and-profile .profile-img-container img {
  border-radius: 50%;
  border: 2px solid white;
}
.search-and-profile .searchbar {
  margin-right: 2rem;
  display: none;
}
.search-and-profile .searchbar .search-form {
  display: flex;
  position: relative;
  height: 60%;
}
.search-and-profile .searchbar .search-form .search-btn {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  right: 10px;
  top: 10px;
}
.search-and-profile .searchbar .search-form #searchbar-input {
  border-radius: 2rem;
  padding-left: 2.5rem;
  text-align: left;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .search-and-profile .searchbar {
    display: flex;
    align-items: center;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 40;
  font-size: 2.3rem;
  color: rgb(173, 15, 173);
}
.material-symbols-outlined.active {
  color: darkred;
}
.material-symbols-outlined.btn {
  display: block;
  color: black;
}
@media (min-width: 768px) {
  .material-symbols-outlined {
    display: none;
  }
  .material-symbols-outlined.logo {
    display: flex;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}/*# sourceMappingURL=styles.css.map */