$main-color: rgba(255, 166, 0, 0.466);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.wrapper{
        .logo-wrapper{
            background-color: $main-color;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 8vh;
            &.hidden{
                display: none;
            }
            .logo{
                height: 45px;
                width: 55px;
                border-radius: 50%;
                margin: 5%;
            }
        }  
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .get-started{
            border: solid 1px red;
            width: 90%;
            margin: 20px 0;
        }
        .register-form{
            display: flex;
            flex-direction: column;
            width: 90%;
            .login-button-container{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

aside{
    background-color: $main-color ;
    .aside-img{
        width: 90%;
    }
}