@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #F27D59;
}

.wrapper {
  background-color: #FFFFFf;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .wrapper {
    margin: 1rem;
    border-radius: 1.875rem;
    overflow: hidden;
    max-width: 800px;
    margin: 1rem auto;
  }
}
@media screen and (min-width: 1400px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 1400px;
    margin: 1rem auto;
    height: calc(1080px - 9rem);
  }
}
.wrapper .logo-wrapper {
  background-color: #FFE0D2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 7rem;
}
@media screen and (min-width: 1400px) {
  .wrapper .logo-wrapper {
    display: none;
  }
}
.wrapper .logo-wrapper.hidden {
  display: none;
}
@media screen and (min-width: 1400px) {
  .wrapper .logo-wrapper.hidden {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
}
.wrapper .logo-wrapper .logo {
  height: 4rem;
  width: 4rem;
  margin: 5%;
}
.wrapper .logo-wrapper .brand-name {
  font-weight: 600;
  font-size: 1.7rem;
}
.wrapper .main-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}
@media screen and (min-width: 1400px) {
  .wrapper .main-container {
    flex: 0 0 60%;
    padding: 0 3rem;
  }
}
.wrapper .main-container .get-started {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0 1rem 0;
  padding-left: 5%;
}
@media screen and (min-width: 1400px) {
  .wrapper .main-container .get-started {
    margin: 0 0 4rem 0;
  }
}
.wrapper .main-container .register-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 1.2rem;
}
.wrapper .main-container .register-form .city-select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wrapper .main-container .register-form .city-select::after {
  position: absolute;
  content: url(img/Arrow_down.svg);
  top: 50%;
  right: 1px;
  transform: translateY(-38%);
  pointer-events: none;
}
@media screen and (min-width: 1400px) {
  .wrapper .main-container .register-form .city-select::after {
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 800px) {
  .wrapper .main-container .register-form .city-select {
    width: 50%;
  }
}
@media screen and (min-width: 800px) {
  .wrapper .main-container .register-form .pw-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .wrapper .main-container .register-form .pw-wrapper .pw-container,
  .wrapper .main-container .register-form .pw-wrapper .pw-confirm-container {
    width: 50%;
  }
}
.wrapper .main-container .register-form .login-button-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .wrapper .main-container .register-form .login-button-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 1400px) {
  .wrapper .main-container .register-form .login-button-container {
    margin: 4rem 0 2rem 0;
  }
}
.wrapper .main-container .register-form .login-button-container .login-link {
  color: gray;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.wrapper .main-container .register-form .login-button-container .login-link:visited {
  color: gray;
}
@media screen and (min-width: 800px) {
  .wrapper .main-container .register-form .login-button-container .login-link {
    flex: 0 0 50%;
    height: 5rem;
    margin-bottom: 0;
  }
}
.wrapper .main-container .register-form .login-button-container button {
  height: 4rem;
  width: 100%;
  background-color: #413C3D;
  color: white;
  font-size: 1.7rem;
  border-radius: 1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 800px) {
  .wrapper .main-container .register-form .login-button-container button {
    flex: 0 0 40%;
    height: 5rem;
  }
}
.wrapper .main-container .register-form input,
.wrapper .main-container .register-form select {
  height: 3.5rem;
  text-align: start;
  padding-left: 0.5rem;
  margin: 1rem 0 2rem 0;
  font-size: 1rem;
  color: gray;
  border-radius: 0.4rem;
  border: 1px solid gray;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .wrapper .main-container .register-form input,
  .wrapper .main-container .register-form select {
    margin-bottom: 3rem;
  }
}
.wrapper .main-container .register-form select {
  cursor: pointer;
}
.wrapper .main-container .register-form label {
  color: black;
  font-weight: 500;
}

aside {
  background-color: #FFE0D2;
}
aside .aside-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  aside .aside-content-container {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1400px) {
  aside .aside-content-container {
    flex: 0 0 40%;
    flex-direction: column;
    justify-content: center;
  }
}
aside .aside-content-container .aside-img {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0 5%;
}
@media screen and (min-width: 1400px) {
  aside .aside-content-container .aside-img {
    height: 600px;
  }
}
aside .aside-content-container .aside-list-container {
  width: 100%;
  font-size: 1.3rem;
}
@media screen and (min-width: 1400px) {
  aside .aside-content-container .aside-list-container {
    margin-left: 5%;
  }
}
aside .aside-content-container .aside-list-container .list-heading {
  margin-left: 5%;
  font-weight: 500;
}
aside .aside-content-container .aside-list-container ul {
  list-style-position: inside;
  margin: 1.5rem 5%;
}
aside .aside-content-container .aside-list-container ul li {
  padding: 0.5rem 0;
}
aside .aside-content-container .aside-list-container ul li:first-child {
  padding-top: 0px;
}

select:focus,
input:focus,
a:focus,
button:focus,
select:hover,
input:hover {
  outline: 2px solid #F27D59;
}/*# sourceMappingURL=styles.css.map */