$background-color: black;

$card-height: 19.875rem;
$card-width: 13.25rem;
$imdb-icon: url(img/imdb.svg);

//film img not exapnded

$love-to-the-death: url(img/convert_004.jpg);
$ninjago: url(img/convert_004.png);
$red-sparrow: url(img/convert_005.jpg);
$the-cry: url(img/convert_007.png);
$the-night-manager: url(img/convert_019.png);
$american-made: url(img/convert_060.png);
$bay: url(img/convert_066.png);
$deadpool-2: url(img/convert_073.png);
$wonder-woman: url(img/convert_074.png);
$it: url(img/convert_085.png);
$justice-league: url(img/convert_119.jpg);
$peppermint: url(img/convert_050.jpg);
$ghost-in-shell: url(img/convert_255.jpg);
$batman: url(img/convert_126.png);

//expanded (on hover) img

$justice-league-expanded: url(img/convert.jpg);
$peppermint-expanded: url(img/convert--2.jpg);
$ghost-in-shell-expanded: url(img/convert--3.jpg);

