@import "reset";
@import "typography";
@import "variables";

body {
    background-color: $background-color;
}

.wrapper {
    width: 100%;
    max-width: 120rem;

    @media screen and (min-width: 1920px) {
        margin: 0 auto;
    }

    .header-with-logo {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .cmore-logo {
            padding: 1rem;
            width: 12rem;
        }
    }

    .hero {
        background-image: url(img/Image1.png);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
        display: flex;

        @media screen and (min-width: 1400px) {
            height: 75vh;
            padding-bottom: 4rem;

            &>* {
                margin-left: 3.5rem;
            }
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding-bottom: 2rem;
        }

    }

    .new-movies,
    .action-movies {
        @media screen and (min-width: 1400px) {
            margin-left: 3.5rem;
        }

        .card-container {
            max-width: 100%;
            display: flex;
            padding: 1.5rem 0rem 0rem 1rem;
            overflow: scroll;
        }

        .card {
            margin-right: 1rem;
            min-height: $card-height;
            min-width: $card-width;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

    }

    .new-movies {
        .card {
            &:nth-child(1) {
                background-image: $love-to-the-death;
            }

            &:nth-child(2) {
                background-image: $ninjago;
            }

            &:nth-child(3) {
                background-image: $red-sparrow;
            }

            &:nth-child(4) {
                background-image: $ghost-in-shell;

                &:hover {
                    background-image: $ghost-in-shell-expanded;
                    min-width: calc($card-width * 2);
                    transition: min-width $animation-transition-duration;
                }
            }

            &:nth-child(5) {
                background-image: $the-cry;
            }

            &:nth-child(6) {
                background-image: $the-night-manager;
            }

            &:nth-child(7) {
                background-image: $bay;
            }

            &:nth-child(8) {
                background-image: $it;
            }
        }
    }

    .action-movies {
        margin-bottom: 1rem;

        .card {

            &:nth-child(1) {
                background-image: $american-made;
            }

            &:nth-child(2) {
                background-image: $peppermint;

                &:hover {
                    background-image: $peppermint-expanded;
                    min-width: calc($card-width * 2);
                    transition: min-width $animation-transition-duration;
                }
            }

            &:nth-child(3) {
                background-image: $wonder-woman;
            }

            &:nth-child(4) {
                background-image: $batman;
            }

            &:nth-child(5) {
                background-image: $justice-league;

                &:hover {
                    background-image: $justice-league-expanded;
                    min-width: calc($card-width * 2);
                    transition: min-width $animation-transition-duration;
                }
            }

            &:nth-child(6) {
                background-image: $it;
            }

            &:nth-child(7) {
                background-image: $ninjago;
            }

            &:nth-child(8) {
                background-image: $deadpool-2;
            }
        }
    }

    //tycker nesting är superbra men ibland för min skull jag 'tar ut' enstaka selectors att ha bättre koll

    .expanded {
        display: flex;
        align-items: flex-end;

        &:hover .card-content {
            display: flex;
        }

        .card-content {
            display: none;
            flex-direction: column;
            justify-content: flex-end;
            padding: 1rem;

            .card-info {
                width: 45ch;
            }

            .card-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 1rem;

                .score {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;

                    .imdb-logo {
                        height: 1.2rem;
                        width: 2.2rem;
                    }
                }
            }
        }
    }
}